In [ ]:

print('Hola')

# Introducción a Jupyter
## esto es un título mediano
#### Esto es un título más pequeño
Esto es un texto simple
- Está
- es
- una
- lista

In [ ]:
var1 = 3
var2 = 4
var1 + var2

In [1]:
var1

NameError: name 'var1' is not defined

In [2]:
var3 = 10

In [3]:
var3

10

In [4]:
var2 = 15
var3 = 20
var4 = 2
var4 = 16

In [5]:
var1 + var2

NameError: name 'var1' is not defined

In [7]:
var3 - var4

4

In [8]:
var2 * (var3+var4)

540

In [9]:
print(var3 - var4)

4

In [10]:
type(var2)

int

In [11]:
var5 = 10.34
type(var5)

float

In [12]:
print(type(var5))

<class 'float'>

In [13]:
print(f'La variable es',{var5})

La variable es {10.34}

In [14]:
vart = True
varf = False

In [15]:
print(vart)

True

In [16]:
if 4 < 7:
    print('it is Ok')

it is Ok

In [17]:
# Asigna el número 12345 a una variable llamada variable_locochona

# Tu código va aquí...
variable_locochona = 12345

# Asigna el número 14.567 a una variable llamada var_decimal

var_decimal  = 1.3

# Asigna cualquier número a una varible que tenga 5 palabras en su nombre (recuerda las convenciones)

esto_es_una_variable_prueba = 1

# Asigna cualquier número a una variable que incluya palabras y números en su nombre

var_1 = 1400

# Asigna variables a discreción

var_3   = 1.4
var_test = 'Hola Mundo'

In [18]:
var_int = 3.1416

In [19]:
print(var_int)

3.1416

In [20]:
print(type(var_int))

<class 'float'>

In [21]:
print('/n')

/n

In [22]:
print('\n')

In [23]:
var_100 = 2314
var_200 = 384
print(f'La suma de las variables(var_100 y var_200) es:{var_100 + var_200}')

La suma de las variables(var_100 y var_200) es:2698

In [24]:
print(f'La suma de las variables ({var_100} y {var_200}) es: {var_100 + var_200}')

La suma de las variables (2314 y 384) es: 2698